{% extends 'Usuarios/consola.html' %}
{% load static %}

{% block content %}
    <!-- Comienza el contenido de la página -->
    <div class="container-fluid">
        <!-- Cabecera de la pagina -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Billetera</h1>
            <button class="popup-trigger" onclick="abrirPopup()">Realizar pago semestre</button>
        </div>

        <div id="popup-overlay"></div>

        <div id="popup">
            <div id="popup-content">
                <form method="post" action="{% url 'realizar_pago_semestre' %}" id="payment-form">
                    {% csrf_token %}
                    <h2>Realizar pago semestre</h2>
                    <label>
                        <input type="radio" name="opcion" value="pago_total"> Realizar pago total
                    </label><br>
                    <label>
                        <input type="radio" name="opcion" value="abono" onchange="mostrarCampoAbono()"> Realizar abono
                    </label><br>
                    <div id="campo-abono" style="display: none;">
                        <input type="number" id="valor-abono" name="valor_abono" placeholder="Ingrese el valor del abono">
                    </div>
                    <button type="submit">Aceptar</button>
                </form>
                {% for message in messages %}
                    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Saldo (Disponible)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ saldo_str }} COP</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    SEMESTRE (TOTAL A PAGAR)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    ${{ valor_semestre_str }} COP
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">SEMESTRE A PAGAR
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ semestre_pagar }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    FECHAS DE PAGO</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {% with found_date=False %}
                                          {% for fecha_limite in fechas_limites_pago %}
                                            {% if not found_date and fecha_actual|date:'Y-m-d' >= fecha_limite|date:'Y-m-d' %}
                                              <span style="color: red;">{{ fecha_limite }}</span>
                                              {% with found_date=True %}
                                              {% endwith %}
                                            {% else %}
                                              {{ fecha_limite }}
                                            {% endif %}
                                          {% empty %}
                                            No hay fechas límite disponibles.
                                          {% endfor %}
                                        {% endwith %}
                                    </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
