{% extends 'Usuarios/consola.html' %}
{% load static %}

{% block extra_styles %}
<link href="{% static 'Estudiantes\css\perfil_estudiante.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="{% url 'actualizar_perfil' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text-center">
                        <img id="profile-pic-preview" src="../../../media/{{ foto_perfil }}" alt="Profile Picture" class="profile-pic">
                        <div class="custom-file mt-2">
                            <input type="file" class="custom-file-input" id="profile-pic-input" name="foto_perfil" accept=".png">
                            <label class="custom-file-label" for="profile-pic-input">Seleccionar archivo</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first-name">Nombres</label>
                        <input type="text" class="form-control" id="first-name" name="nombre" value="{{ nombre }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Apellidos</label>
                        <input type="text" class="form-control" id="last-name" name="apellidos" value="{{ apellidos }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ email }}">
                    </div>
                    <div class="form-group">
                        <label for="identification">Identificación</label>
                        <input type="text" class="form-control" id="identification" name="identificacion" value="{{ identificacion }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="friend-list">Lista de amigos</label>
                        <select multiple class="form-control" id="friend-list">
                            <option>Amigo 1</option>
                            <option>Amigo 2</option>
                            <option>Amigo 3</option>
                            <option>Amigo 4</option>
                            <option>Amigo 5</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block Extra_JsScript %}
    <script src="{% static 'Estudiantes\js\perfil_estudiante.js' %}"></script>
    {% endblock %}
{% endblock %}