{% extends 'Usuarios/consola.html' %}
{% load static %}

{% block extra_styles %}

{% endblock %}



{% block items_nav_dashboard_lateral %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'consola_financiera' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Semestre</span>
        </a>
    </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Encabezamiento -->
            <div class="sidebar-heading">
                Mi cuenta
            </div>

            <!-- Elemento de navegación - Páginas Menú Contraer -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'transacciones_financiera' %}"
                    aria-expanded="true">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Transacciones</span>
                </a>
            </li>

            <!-- Elemento de navegación - Utilidades Menú Contraer -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Movimientos</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Personalizar</h6>
                        <a class="collapse-item" href="utilities-color.html">Colores</a>
                        <a class="collapse-item" href="utilities-border.html">Bordes</a>
                        <a class="collapse-item" href="utilities-animation.html">Animaciones</a>
                        <a class="collapse-item" href="utilities-other.html">Otros</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Plugins
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Usuarios</span></a>
            </li>


{% endblock %}

{% block Mi_cuenta %}"{% url 'perfil_financiera' %}"{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Consola Financiera</h1>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Saldo (Disponible)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{ saldo_str }} COP</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Fechas Límites de Pago</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fecha_limite_pago_1">Fecha Límite de Pago 1</label>
                        <input type="date" class="form-control" id="fecha_limite_pago_1" name="fecha_limite_pago_1" value="{{ fecha_limite_pago_1|default_if_none:'' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_limite_pago_2">Fecha Límite de Pago 2</label>
                        <input type="date" class="form-control" id="fecha_limite_pago_2" name="fecha_limite_pago_2" value="{{ fecha_limite_pago_2|default_if_none:'' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_limite_pago_3">Fecha Límite de Pago 3</label>
                        <input type="date" class="form-control" id="fecha_limite_pago_3" name="fecha_limite_pago_3" value="{{ fecha_limite_pago_3|default_if_none:'' }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>

    {% block Extra_JsScript %}
    {% endblock %}
{% endblock %}