{% extends 'mainApp\index.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/inicio.css' %}">
{% endblock %}
{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{%static 'mainApp/img/logo2.png' %}" alt="" width="95" height="75">
        <h1 class="display-5 fw-bold text-body-emphasis">UNA MEJOR ALTERNATIVA</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Esto es una aplicacion en construccion por estudiantes de la Universidad Cooperativa de Colombia con el fin de lograr mejorar el sistema de pagos dentro de la universidad ofreciendo una mejor alternativa facil y eficaz con todos los procesos tanto para los estudiantes y administrativos.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'login_user' %}">Iniciar Sesión</a>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Registrarme</button>
        </div>
        </div>
    </div>
{% endblock %}
