{% extends 'mainApp/index.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Usuarios/css/login.css' %}">    
{% endblock %}
{% block content %}
    <div class="container-fluid col-5">
        <h2 class="text-center">INICIAR SESIÓN</h2>
        <form>
            <div class="mb-3 ">
                <label for="exampleInputEmail1" class="form-label text-start">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label text-start">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        
            <div class="mb-3 form-check d-flex justify-content-center">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label px-3" for="exampleCheck1">Check me out</label>
            </div>
                
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mx-auto">INGRESAR</button>
            </div>
        </form>
    </div>
{% endblock %}